body{

    background-color:rgb(218, 162, 246);
}

h1{
    color: white;   
    margin-left: 20px;

}

.links{
    display: inline-block;
    font-size: larger;


}

a{

    display: inline-block;
    color: black;
    text-decoration: underline;
    
    

}

li{
    margin-bottom: 15px;
    list-style:decimal;
    border-radius: 40px;

}

a:hover{
    color: white;
}