*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


main{
    clear: both;
    text-align: center;
    margin-top: 9rem;
}
.left{
    text-decoration: none;
    color: black;
}

.about{
    margin-right: 15px;
}
.right{
text-align: end;
margin-top: -30px;

}

.gmail{
    text-decoration: none;
    color: black;
    margin-right: 25px;
   
}

.app{
    display: inline-block;
    position: relative;
    top: 10px;
    right: 10px;
    opacity: 0.4;
}

.app:hover{
    opacity: 1;
}

.signin{
    width: 80px;
    height: 30px;
    background-color: rgb(28, 94, 224);
    color: white;
    font-weight: 700;
    border: none;
}


.logo{
margin-bottom: 20px;
}

.search{
    width: 500px;
    border: 1px solid #D3D3D3;
    border-radius: 25px;
    margin: 2rem auto;

   

}

input{
    width: 80%;
    border: none;
    /* input'un border'i gitsin */
    outline: none;
    height: 40px;


}

.mikrofon{
    vertical-align: middle;
}

.büyütec{
    vertical-align: middle;

 
}

.buttons{

    padding-top:25px ;
}

.google, .feeling{
    width: 130px;
    height: 35px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.language{
display: inline-block;
}

